* {
    /* border: none; */
    /* border-radius: 4px; */
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: TerminessNerdFont, SymbolsNerdFont;

    /* adjust font-size value to your liking: */
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgba(58, 85, 58, 0.5);
    color: #55af66;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 0.4em;
    background-color: transparent;
    color: #55af66;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #55af66;
}

#workspaces button.focused {
    background-color: rgba(58, 85, 58, 0.2);
    box-shadow: inset 0 -2px #55af66;
}

#workspaces button.urgent {
    /* padding: 0 0.4em; */
    /* color: #000000; */
    border: solid 1px #55af66;
    background-color: transparent;
    box-shadow: inset 0 -2px #55af66;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#bluetooth,
#idle_inhibitor,
#mpd {
    padding: 0 5px;
    margin: 6px 3px; 
    color: #55af66;
    border: solid 1px #55af66;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #55af66;
}

#bluetooth {
    color: #55af66;
}

#battery {
    color: #55af66;
}

#battery.charging {
    color: #55af66;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #55af66;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #55af66;
}

#memory {
    color: #55af66;
}

#backlight {
    color: #55af66;
}

#network {
    color: #55af66;
}

#network.disconnected {
    color: #55af66;
}

#pulseaudio {
    color: #55af66;
}

#pulseaudio.muted {
    color: #55af66;
}

#custom-media {
    color: #55af66;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #55af66;
}

#custom-media.custom-vlc {
    color: #55af66;
}

#temperature {
    color: #55af66;
}

#temperature.critical {
    color: #55af66;
}

#tray {
    color: #55af66;
}

#idle_inhibitor {
    color: #55af66;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #55af66;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    color: #55af66;
    padding: 0 5px;
    margin: 6px 3px;
    border: solid 1px #55af66;
    min-width: 16px;
}
